html {
  padding: 0px;
}

body {
  font-family: Impact, Arial, Verdana;
  font-weight: bold;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/startile.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  display:  flex;
  flex-direction: column;
  align-content: center;
}

h1, h2, h3, a {
  color:  white;
  width: 100%;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

a { font-size: 5em; }
h1 { font-size: 10em; }
h2 { font-size: 5em; }
h3 { font-size: 3em; }

.page {
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.title.page {
  display:  flex;
  align-content: center;
  background-image: url("../images/Explosions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.title-image {
  height: 60%;
  width:  auto;
}

img {
  width: 100%;
  display: block;
  margin:  auto;
}

.download.page {
  height: 50vh;
  min-height: 400px;
  margin-top: 200px;
  padding-top: 200px;
  background-image: url("../images/BigBigDaddy.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
