html, body {
  padding: 0px;
  margin: 0px;
  background-image: url("../images/startile.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Impact, Arial, Verdana;
  font-weight: bold;
  display:  flex;
  flex-direction: column;
}

h1, h2, h3, a {
  color:  white;
  text-shadow:
   -4px -4px 0 #000,
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;
}

h1 { font-size: 7em; }
h2, a { font-size: 4em; }
h3 { font-size: 2.5em; }

.page {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title.page {
  display:  flex;
  background-image: url("../images/Explosions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.title-image {
  height: 60%;
  width:  auto;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}

.example-image {
  max-width: 1200px;
}

.download.page {
  height: 50%;
  min-height: 400px;
  margin-top: 200px;
  padding-top: 200px;
  background-image: url("../images/BigBigDaddy.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
