html {
  padding: 0px;
}
body {
  font-family: 'Permanent Marker', cursive;
  height: 100%;
  padding: 0px;
  background-image: url("../images/startile.jpg");
  background-repeat: repeat;
}

h1 {
  font-size: 4em;
}

a {
  font-size: 4em;
}

.title {
  background-image: url("../images/Explosions.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
  height: 100vh;
}

.content {
  height: 100vh;
}

.example {
  margin: auto;
  color: white;
  width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.before {
  padding: 60px;
  padding-top: 30px;
}

.after {
  padding: 60px;
  padding-top: 30px;
}


.download {
  height: 100vh;
  background-image: url("../images/BigBigDaddy.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.buttonWrapper {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.downloadButton:hover {
  color: white;
  background: gray;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.downloadButton {
  color: white;
  background: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.wrapper {
  float: left;
  clear: left;
  display: table;
  table-layout: fixed;

}
img.img-responsive {
  display: table-cell;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}


