html {
  padding: 0px;
}
body {
  background-color: gray;
  font-family: 'Permanent Marker', cursive;
  height: 100%;
  padding: 0px;
}

h1 {
  font-size: 4em;
}

a {
  font-size: 4em;
}

paper-tab {
  font-size: 2em;
}

.title {
  background-image: url("../images/Explosions.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
  height: 100vh;
}

.content {
  height: 100vh;
}

.example {
  margin: auto;
  width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.before {
  background-color: gray;
  padding: 60px;
  padding-top: 30px;
}

.after {
  background-color: gray;
  padding: 60px;
  padding-top: 30px;
}


.download {
  background-color: black;
  height: 100vh;
  background-image: url("../images/BigBigDaddy.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.buttonWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.downloadButton {
  background-color: black;
  padding: 10px;
}

.wrapper {
  float: left;
  clear: left;
  display: table;
  table-layout: fixed;

}
img.img-responsive {
  display: table-cell;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}


